<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blog sobre ciencias fisico-matemáticas y afines">
    <meta name="author" content="">
    {% block meta %}
      <meta name="keywords" content="Matemáticas,física,Arquímedes,ciencia,divulgación">
    {% endblock meta %}

    <title>{% block title %}Arquímedes{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    {% block extra_css %}
    {% endblock extra_css %}

    {% block head_js %}
    {% endblock head_js %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="//slcorvus.org/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
      </script>
      <!-- End Piwik Code -->
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            Menu <i class="fa fa-bars"></i>
          </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ url('index') }}">Inicio</a>
            </li>
            <li>
              <a href="{#{ app.url_for('about') }#}">Acerca de</a>
            </li>
            <li>
              <a href="{#{ app.url_for('contact') }#}">Contacto</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% block site_heading %}
              <div class="site-heading">
                <h1>{% block post_title %}Arquímedes{% endblock %}</h1>
                {% block post_subtitle %}<hr class="small">{% endblock  %}
                <span class="subheading">"Dadme un punto de apoyo..."</span>
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    {% block main %}
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% block content %}
            {% endblock %}
            <!-- Pager -->
            <ul class="pager">
              {% if page > 1 %}
                <li class="previous">
                  <a href="{{ url('index', query_={'page': page - 1}) }}">
                    &larr; Próximas entradas
                  </a>
                </li>
              {% endif %}
              <li class="next">
                <a href="{{ url('index', query_={'page': page + 1}) }}">
                  Entradas anteriores &rarr;
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endblock main %}
    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% block footer %}
              <center>
                <a rel="license"
                   href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                  <img alt="Licencia de Creative Commons" style="border-width:0"
                       src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
                </a>
                <br />Este obra está bajo una
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                  licencia de Creative Commons
                  Reconocimiento-NoComercial-SinObraDerivada 4.0 Internacional
                </a>.
              </center>
            {% endblock footer %}
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/clean-blog.min.js"></script>

    {% block extra_js %}
    {% endblock  %}

  </body>

</html>
