{% extends "base.html" %}
{% block title %}Acerca de Arquímedes.red{% endblock %}
{% block main %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h2>Introducción: Arquímedes (287-212 a. de n.e.)</h2>
          <p>Arquímedes fue probablemente el más grande de los genios
          matemáticos de la antigüedad, quien supo combinar su enorme
          capacidad teórica con un vasto conocimiento técnico, lo cual
          le permitió mantener a raya a los ejércitos romanos que
          sitiaban la ciudad de Siracusa, batalla en la que utilizó
          innumerables inventos y artificios mecánicos que sembraron
          terror entre los invasores. Infortunadamente su ingenio no
          fue suficiente para detener por completo al comandante
          romano Marcelo (cuyo nombre habría desaparecido de la
          historia si no hubiera sido por este episodio), y uno de sus
          soldados mató al matemático cuando éste estaba absorto en
          sus cálculos y no entendió que una sabia orden militar vale
            más que cualquier teorema. </p>

          <p>No pocas veces Arquímedes sorprendió a sus coterráneos al
            lograr proezas como la de arrastrar un buque hasta la
            costa por medio de aparejos impulsados con la simple
            fuerza de sus manos. Ante el asombro de las gentes llegó a
            proclamar: “dadme un punto de apoyo y moveré el mundo”.</p>

          <p>Más allá de ser un enunciado sobre palancas y polipastos,
          éste que puede parecer un reto insolente y algo exagerado,
          nos da la oportunidad de cavilar si no sería más bien un
          llamado que aleccionara a sus conciudadanos sobre el alcance
          del pensamiento humano capaz de poner en juego grandes
            poderes si puede contar con un soporte firme y confiable.</p>

          <p>Tal vez, por lo contrario, lo dijo para dejar al
            descubierto la ausencia de esa verdad absoluta, de esa
            piedra fundacional, que se pudiera convertir en la base de
            todo lo demás, de manera que conocerla sería algo así como
            tener un poder omnímodo que llevaría a quien la poseyera
            al dominio del universo, pensamiento que no deja de ser el
            sueño de algunos.</p>

          <p>En cualquiera de esos dos casos, o en el de la
          interpretación literal del enunciado, se percibe un
          encadenamiento entre los instrumentos y el propósito,
          proporcionado por el estudio de la naturaleza que es el
          fundamento de la pesquisa científica y tecnológica que hoy
          concebimos como uno de los mayores logros de la humanidad, a
          la vez que uno de los mayores peligros, cuando no
          dimensionamos correctamente el alcance de aquello que
          conocemos. Es posible que pretendamos mover el mundo sin
          tener un punto de apoyo válido y confiable, tal como sería
          la previsión certera de las consecuencias de nuestras
          acciones.</p>

          <p>Por todas estas razones hemos escogido el nombre de
            nuestra página web, aquiles.red, y como lema de ella las
            primeras palabras de esa enigmática sentencia que nos
            lleva a reflexionar sobre la validez de nuestros
            pensamientos y nuestras acciones y pone de presente la
            inmensidad de nuestro desconocimiento del universo.</p>

          <p>Queremos invitar a los visitantes de este espacio a un
          recorrido sobre muchas preguntas de interés cuyas respuestas
          pueden ser presentadas de una manera didáctica y lo más
          sencilla posible, sin perder por ello la seriedad que su
          estudio merece. Deseamos desde este rincón de la red
          poderles proporcionar y solicitar puntos de apoyo atractivos
          y accesibles para la búsqueda del conocimiento y el
          descubrimiento en temas de las disciplinas
          físico-matemáticas y afines, puestos al servicio de la
          gente, con el objeto de facilitar desde nuestra perspectiva
          y en nuestro campo de trabajo el bienestar de aquellos a
          quienes podamos tocar, convencidos de que sólo hay felicidad
          cuando una sonrisa colectiva se propaga.</p>

          <center>
            <img src="/static/img/logo-arquimides.png" alt="Logo arquímides">
          </center>
        </div>
      </div>
    </div>
  </article>
  <hr>
{% endblock main %}
