{% extends "base.html" %}
{% block content %}
    <table class="table">
        <tr>
            <th>Título</th>
            <th>Editar</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>
                    <a class="btn btn-default"
                       href="{{ app.url_for("Post", slug=post.slug) }}"
                       role="button">
                        Editar
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
